* {
  margin: 0px;
  box-sizing: border-box;
}

article {
  margin-top: 2%;
  margin-left: 9%;
  width: 1500px;
  height: 3500px;
  background-color: rgb(246, 246, 250);
  border-radius: 3%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.square {
  margin-top: 2%;
  margin-right: 10%;
  width: 700px;
  height: 450px;
}

.picture {
  margin-left: 15%;
}

p {
  margin-right: 25%;
  margin-bottom: 5%;
  letter-spacing: 2px;
}

.info {
  margin-right: 20%;
  margin-top: 0%;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.square3 {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 8%;
  justify-content: space-between;
  transition: 1s;
}

.square3 input {
  border: 2px solid rgba(17, 15, 15, 0.075);
  background: white;
  border-radius: 10px;
  transition: 1s;
  overflow: hidden;
}

.square3 input:hover {
  background: white;
  box-shadow: 0 0 10px var(--cir),
    0 0 30px var(--cir),
    0 0 60px var(--cir),
    0 0 100px var(--cir);
  cursor: pointer;
}

.square3 input::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 400%;
  background: var(--cir);
  transition: 1s;
  animation: animate 2s linear infinite;
}

.btn {
  font-size: 20px;
  font-weight: bold;
}

.overlay2 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;

}

.overlay2 img {
  display: block;
  margin: 0 auto;
  max-height: 90%;
  max-width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.age {
  margin-top: 2%;
  margin-left: 8%;
}

.word {
  margin-left: 8%;
  font-size: 30px;
  font-weight: bold;
}

.words {
  margin-left: 10%;
  margin-top: 2%;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 50px;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;

}

.gallery img {
  width: 300px;
  height: auto;
  margin: 10px;
  cursor: pointer;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transform: translateY(-50%);
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

.equipment {
  font-weight: bold;
  margin-left: 10%;
  margin-top: 2%;
  height: 350px;
  width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 70px;
}

.square4 {
  margin-left: 2%;
  font-size: 20px;
}

.square5 {
  margin-right: 2%;
  font-size: 20px;
  margin-bottom: 5%;
}

.says {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 2%;
  height: 550px;
  background-color: #d8e8fc;
  border: rgba(154, 171, 218, 0.274) 3px solid;
}

.thought {
  margin-left: 3%;
  margin-bottom: 3%;
  font-size: 24px;
  font-weight: bold;
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture2 {
  float: left;
  margin-right: 10%;
  margin-bottom: 3%;
}

.square6 {
  float: right;
}

.custom-textbox {
  border: rgba(154, 171, 218, 0.274) 3px solid;
  height: 40px;
}

.bg {
  border: rgba(154, 171, 218, 0.274) 3px solid;

}

.sub {
  width: 100px;
  height: 50px;
  border-radius: 2px;
  box-shadow: 2px 2px 0 0 rgba(157, 139, 127, 0.25);
  background-color: #007fe7de;
  color: white;
  ;
}

.star {
  font-size: 40px;
  color: gray;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  margin: 0 5px;
}

.star:hover,
.star:focus {
  color: gold;
}

.star.active {
  color: gold;
}

.board {
  margin-top: 5%;
  display: flex;
  align-items: flex-start;
}

.account-pic {
  margin-left: 10%;
}

.account-info {
  display: flex;
  flex-direction: column;
}

.account-id {
  margin-left: 5%;
  font-size: 30px;
  margin-bottom: 10px;
  text-decoration: underline;
}

.stars2 {
  display: flex;
  align-items: center;
  margin-top: 10%;
  margin-left: 5%;
}

.star2 {
  font-size: 40px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  color: gold;
  margin-right: 5px;
}

.posted {
  margin-left: 3%;
  width: 800px;
  height: 200px;
  border: rgba(154, 171, 218, 0.274) 3px solid;
  background-color: #d8e8fc;
}